# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Generated Native Directories (from expo prebuild)
android/
ios/

# Native build artifacts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Android specific
.gradle/
build/
.kotlin/
local.properties
*.apk
*.aab
*.ap_
*.dex

# iOS specific
*.xcworkspace
*.xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Pods/
Podfile.lock

# Metro
.metro-health-check*
metro.config.js.bak

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/
.history/

# JetBrains
.idea/

# Temporary files
*.tmp
*.temp

# Expo generated example
app-example

# Turbo
.turbo/
